<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:h="http://www.w3.org/1999/html">
<head>
    <title>List of users</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">
</head>
<body>

<header th:insert="blocks/header :: header"></header>

<div class="container mt-10 mb-10">

    <h1>Edit user</h1>
    <form action="/edit" method="post">
        <table border="2"  align="center" cellpadding="5" cellspacing="5" rules="all">

            <tr>
                <th style="visibility:hidden">ID</th>
                <th>First name</th>
                <th>Last name</th>
                <th>Company ID</th>
                <th>Role</th>
                <th></th>

            </tr>

            <th:block th:each="user : ${userList}">
                <tr>
                    <td th:text="${user.getId}" style="visibility:hidden"></td>
                    <td th:text="${user.getFirstName}"></td>
                    <td th:text="${user.getLastName}"></td>
                    <td th:text="${user.getCompanyId}"></td>
                    <td th:text="${user.getRole}"></td>
                    <td><button class="btn btn-warning" type="submit">Update</button></td>

                </tr>
            </th:block>

        </table>
    </form>



</div>

<footer th:insert="blocks/footer :: footer"></footer>
</body>
</html>