<!--
sucessful add user message
-->
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add user</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">
</head>
<body>

<header th:insert="blocks/header :: header"></header>

<h2>User  added successful</h2>


<!--User has been created. ID is <span th:text="*{userID}"/>-->
<!--<br>-->
<!--<h2>User has been created. ID is <span th:text="*{userID}"/></h2>-->
<!--<br>-->

<a href="/main" class="btn-btn-success">Back</a>

<meta http-equiv="refresh" content="10;URL=/main" />

<footer th:insert="blocks/footer :: footer"></footer>
</body>
</html>